.listpage{
    display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 columns */
  gap: 10px;
  overflow: hidden;
}

.forms-content{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 10px;
    align-items: center;
}

/*Uploads */

/* posts of posts-content / posts-content targets posts */
  .forms-content .forms{
    /* place-items: center; */
    display: block;
    width: 90%;
    max-height:500px;
    border-radius: 10px;
    padding: 30px;
    flex-direction: column;
  
    /* width: 50%; */
    box-shadow: 0 0 20px rgb(0,0,0,0.2),
    0 5px 5px 0 rgb(0,0,0,0.24);
    background-color: hsl(0, 0%, 30%);
    overflow: auto;
  }

  .filename{
    font-size: 14px;
    color: #ccc;
    margin-bottom: 5px;
  }



  .form-control{
    width:100%;
    display: block;
    height: 30px;
    box-sizing: border-box;
  }

.image-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  
  margin: 10px 0;
  max-width: 300px;
  max-height: 300px;
  padding: 10px;
  background-color: rgb(47, 47, 47);
  overflow: hidden;
}

.image-item img {
  display: block;
  width: 100%;
  height: auto;
  max-height: 220px;    /* optional - limits very tall images */
  object-fit: contain; 
}

.flex-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.upload__image-wrapper {
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: auto auto auto auto;
  margin-top: 16px;
  max-height: auto;
  gap: 20px;
}


/* Image item button wrapper */
.image-item__btn-wrapper {
  display: flex;
  padding: 5px;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.btn-mini{
  font-size: 24px;
  background:none;
    border:none;
    margin:0;
    padding:5px 10px;
    color:#fff;
    cursor: pointer;
}

.btn-replace::before{
  content: "↻"; /* Unicode replace symbol */
}


.btn-remove::before{
  content: "✕"; /* Unicode replace symbol */
}


.btn-add::before{
  padding: 100px;
  font-size: 100px;
  content: "+"; /* Unicode replace symbol */
}

.upload-btn{
  height: 40px;
  width: 300px;
  background-color: rgb(0, 123, 255);
  color: white;
}

.upload-btn:disabled {
  background-color: #444;
  color: #aaa;
  cursor: not-allowed;
}

textarea {
    font-family: inherit;
  resize: vertical;
  width: 100%; /* or fixed width like 300px */
  min-height: 100px;
  max-height: 300px; /* optional */
  font-size: 16px;
}

.mode {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px 0 20px 0;
}

button.action{
    /* width: 100%; */
    width:100px; display:flex;
    justify-content: center; align-items: center;
    border-radius: 10px;
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    background: rgb(0, 102, 255);
    border: 0;
    color: #ffff;
    transition: all ease .5s;
    cursor: pointer;
    margin-bottom: 10px;
    place-items: center;
  }

button.action:disabled {
  background-color: #444;
  color: #aaa;
  cursor: not-allowed;
}

.removeall{
  background-color: #ff4d4d;
  width: 150px;
}