.row {
    display: flex; /*Align items in a horizontal row  */
    flex-direction: row; /*Default*/
    justify-content: flex-start; /* Add space between input groups */
    gap: 50px; /* Optional spacing between input boxes */
    align-items: flex-start; /* Align items at the top */
    margin-bottom: 20px; 
    /* Add some spacing below the row */
  }
  
  .product-content{
    display: flex; /* Align items in a horizontal row */
    flex-direction: row; /*Default, Must work with "display: flex"*/
    justify-content: flex-start; /* Add space between input groups */
  }
  
  /* Input box styling */
  
  
  .product-content .product{
    /* place-items: center; */
    padding:30px;
    width: 50%;
    box-shadow: 0 0 20px rgb(0,0,0,0.2),
    0 5px 5px 0 rgb(0,0,0,0.24);
    background: #ffff;
  }
  
  .inputbox {
    display: flex;
    flex-direction: column; /* Labels stack vertically above inputs */
  }
  
  .searchbox {
    display: flex;
    flex-direction: row; /* Labels stack vertically above inputs */
  }
  
  .form-control{
    width:100%;
    display: block;
    height: 50px;
    box-sizing: border-box;
    margin: 0;
  }
  
  .product button[class="action"] {
    /* width: 100%; */
    font-size: 12px;
    padding: 10px;
    font-weight: bold;
    letter-spacing: 2px;
    background: rgb(0, 36, 91);
    border: 0;
    color: #ffff;
    text-transform: uppercase;
    transition: all ease .5s;
    cursor: pointer;
    margin-bottom: 10px;
    place-items: center;
  }
  
  .product button[type="submit"] {
    width: 100%; /* or any width value you prefer */
  }
  
  .product button[class="search"] {
    float: left;
    width: 20%;
    height: 50px;
    background: #2196F3;
    color: white;
    font-size: 12px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  
  /* .product button:hover{
    background: rgb(0, 102, 255)
  } */
  
  .tabledata {
    width: 100%; /* Ensures table takes up full width */
    overflow: auto; /* Enables both horizontal and vertical scrollbars if needed */
    max-height: 400px;
  }
  
  
  .resultsTable {
    width: 100%; /* Stretch table to fit parent */
    border-collapse: collapse; /* Cleaner borders */
    margin-top: 10px; /* Add space from other elements */
    text-align: left; /* Align text to the left */
  }
  
  .resultsTable th{
    cursor: pointer;
    background-color: #04AA6D;
    color: white;
  }
  
  .resultsTable th, .resultsTable td {
    border: 1px solid #ccc;
     /* Add a border for clarity */
    padding: 8px; /* Add padding for readability */
  }
  
  #itemtable th {
    cursor: pointer; /* Shows a pointer cursor on hover */
    user-select: none; /* Prevents text selection when clicking */
  }
  
  #itemtable th.asc::after {
    content: ' ▲';
    margin-left: 10px;
  }
  
  #itemtable th.desc::after {
    content: ' ▼';
    margin-left: 10px;
  }
  
  
  .pagination-container{
    margin-top: 25px;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .pagination-container button{
    padding: 7px 15px;
    color: black;
    background-color: transparent;
    font-size: 20px;
    cursor: pointer;
    border: none;
  }
  
  .pagination-container button.active{
    background: linear-gradient(to bottom, #9c9c9c 0%, #111 100%);
  }
  
  
  /* .form-control, .form-control:focus {
    border: 0px solid #e8e8e8;
  } */
  
    /* body{
      height: 100%;
      background: rgb(171, 247, 255)
    }
    
    
    
    .registry-page .h2{
      text-align: center;
      margin-bottom:30px;
    }
    
    .inputbox{
      margin-bottom:10px;
    } */
    
    /* .inputbox input{
      width: 100%;
      font-size:  16px;
      padding: 15px;
      border: 0;
      background: #e8e8e8;
      outline: none;
    }
    
    .registry-page button{
      width: 100%;
      font-size: 12px;
      padding: 10px;
      font-weight: bold;
      letter-spacing: 2px;
      background: rgb(0, 36, 91);
      border: 0;
      color: #ffff;
      text-transform: uppercase;
      transition: all ease .5s;
      cursor: pointer;
      margin-bottom: 10px;
    }
    
    .registry-page button:hover{
      background: rgb(0, 102, 255)
    }
    
    .registry-page p{
      color: #b3b3b3;
      font-size: 12px;
    }
    
    .registry-page p a{
      text-decoration: none;
      color: #2000af;
    }
    
    .registration{
      display:none;
    } */