.registry-page * {
  margin-top: 10px;
  padding: 0;
  box-sizing: border-box;

}

.registry-page-container {
  height: 100vh; /* Ensure it covers the entire viewport */
  background: rgb(121, 121, 121); /* Cyan background */
  display: flex;
  justify-content: center;
  align-items: center;
}

.registry-page {
  height: 70%;
  width: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 40px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.2), 0 5px 5px rgba(0, 0, 0, 0.24);
  background: #fff;
}

.registry-page .inputbox {
  margin-bottom: 10px;
}

.registry-page .inputbox input {
  width: 100%;
  font-size: 16px;
  padding: 15px;
  border: 0;
  background: #e8e8e8;
  outline: none;
}

.proceed {
  width: 100%;
  font-size: 24px;
  padding: 10px;
  font-weight: bold;
  letter-spacing: 2px;
  background: rgb(0, 36, 91);
  border: 0;
  color: #fff;
  text-transform: uppercase;
  transition: all ease 0.5s;
  cursor: pointer;
  margin-bottom: 10px;
}

.switch{
  font-size: 16px;
  background:none;
    border:none;
    margin:0;
    padding:0;
    cursor: pointer;
  text-decoration: none;
    color: #2000af;
}


.proceed:hover {
  background: rgb(0, 102, 255);
}
/* 
.registry-page p {
  color: #b3b3b3;
} */

.registry-page a{
  text-align: center;
  text-decoration: none; /* Removes underline */
  font-size: 16px;
  color: #2000af;
}


.registry-page form {
  transition: all 0.5s ease;
  opacity: 1;
}